.body {
    display: flex;
}
.header {
    text-align: center;
}
.first_line,
.second_line,
.third_line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
}
.weight,
.height {
    margin-bottom: 15px;
}

.button {
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#BMI {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.text_result{
    font-size: 18px;
    color: green;
    text-decoration: underline;
    margin-top: 30px;
}